@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--bg-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-btn);
  border-radius: 5px;
}

.nav-bar {
  @apply flex items-center justify-between h-12 px-8 px-1 border-b-2 border-txt-base border-opacity-25 bg-base text-txt-base;
}
nav .logo {
  @apply justify-self-center;
}

/* NAV MENU */
.nav-menu {
  @apply relative flex justify-center items-center w-8 h-8 bg-base z-50;
}

/* menu lines */
.nav-menu > .hamburger {
  @apply relative bg-txt-secondary w-6 transition-all;
  height: 2px;
}
.nav-menu > .hamburger::before,
.nav-menu > .hamburger::after {
  @apply absolute bg-txt-secondary transition-all;
  content: "";
  width: 1rem;
  height: 2px;
  top: 0.5rem;
  left: 0.25rem;
}
.nav-menu > .hamburger::after {
  top: -0.5rem;
}
#menu-check {
  @apply w-full h-full absolute opacity-0 z-10;
}

#menu-check:checked + div {
  transform: rotate(135deg);
}
#menu-check:checked + div::before,
#menu-check:checked + div::after {
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(90deg);
}

/* menu list */
.menu-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-areas: "menu options";
  width: 100vw;

  overflow: hidden;

  @apply transition-all bg-base;
}
.menu-toggler {
  @apply transition-all overflow-y-hidden;
}

.menu-item {
  @apply flex items-center justify-between w-full cursor-pointer pl-4 hover:opacity-100 opacity-70;
}

.nav-list {
  grid-area: menu;
  @apply border-r-2 border-opacity-25 text-xl font-semibold;
}

.nav-options {
  grid-area: options;
}
.nav-sublist {
  @apply pl-4 font-normal;
}

li > i {
  @apply pr-4;
}

.btn-base {
  @apply rounded-full p-2 hover:bg-primary hover:text-secondary border-secondary border-solid bg-secondary text-txt-secondary;
  border-width: 1px;
}

/* LANDING PAGE */
.img-section-1,
.img-section-2 {
  background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2Fgrovemade-black-leather-desk-pad-medium-galB-B5.jpg?auto=format&ixlib=python-1.1.2&w=1800&s=854e5e322b3910f11044f0fbdd744d76");
  background-size: cover;
  max-height: 80vh;
  height: calc(
    100vw / 1.5
  ); /*this is to maintain the aspect ratio of the image */
}
.img-section-2 {
  background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FbannerB-desk-collection-A1.jpg?auto=format&ixlib=python-1.1.2&w=900&s=205bb82967bf3310fe0da51903b66651");
  height: calc(100vw / (900 / 287));
  height: fit-content;
}
.CTA {
  @apply border-2 px-2 transition-all bg-primary text-txt-primary;
}
.CTA:hover {
  transform: rotateX(30deg);
}

.featured-collections {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.featured-collections > div {
  @apply p-2 mb-4;
}
.featured-collections > div > img {
  max-width: 100%;
  height: auto;
}
.featured-collections > div > h4 {
  @apply font-semibold text-2xl table mx-auto mt-2;
}

/* CARROUSEL */
.carrousel-img {
  max-width: 250px;
}

/* FOOTER */
.footer-container {
  grid-template-columns: max-content minmax(0, 1fr);
  grid-template-columns: max-content repeat(auto-fit, minmax(500px, 1fr));
  @apply mt-12 grid bg-primary;
}

.landing-title {
  @apply text-3xl font-semibold text-center;
}

/* SHOP */
/* filter */
.filter-container {
  position: relative;
  @apply flex justify-center items-center transition-all;
}

.filter-expand-icon {
  position: relative;
  @apply transition-all;
}
.filter-expand-icon::before,
.filter-expand-icon::after {
  content: "";
  width: 2px;
  height: 12px;
  position: absolute;
  top: -8px;
  left: -1px;

  @apply bg-txt-base transition-all;
}
.filter-expand-icon::after {
  transform: rotate(90deg);
}

#filter-check {
  @apply z-10 opacity-0;
}
#filter-check:checked + .filter-expand-icon {
  transform: rotate(45deg);
}
