@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background-color: var(--bg-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-btn);
  border-radius: 5px;
}

/* NAV BAR V2 */

nav .menu-item {
  @apply font-medium;
}

.hamburger {
  position: relative;
  width: 1.5rem;
  height: 2px;
  top: calc(50%);
  @apply bg-txt-base transition-all;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.5rem;
  top: 0.5rem;
  @apply bg-txt-base transition-all;
}

.hamburger::before {
  top: -0.5rem;
}

.hamburger.active {
  transform: rotate(135deg);
}

.hamburger.active::before,
.hamburger.active::after {
  top: 0;
  transform: rotate(90deg);
}

.nav-menu {
  @apply flex flex-col absolute top-12 left-0 right-0 max-h-0 transition-all z-50 overflow-hidden bg-base;
}
.nav-menu.open {
  max-height: 100vh;
  @apply border-b-2 border-opacity-50;
}
.nav-menu-item {
  @apply text-center font-medium p-2;
}

@media only screen and (min-width: 600px) {
  .nav-menu {
    @apply flex-row static max-h-full;
  }
  .nav-menu-item {
    @apply font-normal p-0 mx-2;
  }
  .hamburger-cont {
    @apply hidden;
  }
}

.btn-base {
  @apply rounded-full p-2 hover:bg-primary hover:text-secondary border-secondary border-solid bg-secondary text-txt-secondary;
  border-width: 1px;
}

/* LANDING PAGE */
.img-section-1,
.img-section-2 {
  background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2Fgrovemade-black-leather-desk-pad-medium-galB-B5.jpg?auto=format&ixlib=python-1.1.2&w=1800&s=854e5e322b3910f11044f0fbdd744d76");
  background-size: cover;
  max-height: 80vh;
  height: calc(
    100vw / 1.5
  ); /*this is to maintain the aspect ratio of the image */
}
.img-section-2 {
  background-image: url("https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FbannerB-desk-collection-A1.jpg?auto=format&ixlib=python-1.1.2&w=900&s=205bb82967bf3310fe0da51903b66651");
  height: calc(100vw / (900 / 287));
  height: fit-content;
}
.CTA {
  @apply border-2 px-2 transition-all bg-primary text-txt-primary;
}
.CTA:hover {
  transform: rotateX(30deg);
}

.featured-collections {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.featured-collections > div {
  @apply p-2 mb-4;
}
.featured-collections > div > img {
  max-width: 100%;
  height: auto;
}
.featured-collections > div > h4 {
  @apply font-semibold text-2xl table mx-auto mt-2;
}

/* CARROUSEL */
.carrousel-img {
  max-width: 250px;
}

/* FOOTER */
.footer-container {
  grid-template-columns: max-content minmax(0, 1fr);
  grid-template-columns: max-content repeat(auto-fit, minmax(500px, 1fr));
  @apply mt-12 grid bg-primary;
}

.landing-title {
  @apply text-3xl font-semibold text-center;
}

/* SHOP */
/* filter */
.filter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
  @apply mx-auto shadow-lg;
}
.filter-btn {
  @apply mx-auto w-max flex items-center focus:outline-none;
}
.filter-icon {
  @apply font-medium h-full text-2xl ml-2 transition-all;
}
.filter-icon-open {
  transform: rotate(45deg);
}
.filter-container {
  @apply transition-all overflow-hidden max-h-0;
}
.filter-container.open {
  max-height: 100vh;
}
.filter-list {
  @apply border-r-2;
}
.filter-item {
  @apply flex items-center justify-between w-full cursor-pointer pl-4 hover:opacity-100 opacity-70;
}
.filter-item.active {
  @apply opacity-100;
}

/* @media only screen and (min-width: 600px) {
  .filter-btn {
    @apply hidden;
  }
  .filter-item-icon {
    @apply hidden;
  }
  .filter-container {
    @apply flex flex-col float-left;
  }
} */

/* product grid */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* PRODUCT DETAIL */
.product-detail-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  @apply mt-4;
}

/* CART
 * ============================== */
.Cart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e5e5e5;
  transform: translateX(100%);
  transition: transform 0.15s ease-in-out;
}

.Cart--open {
  transform: translateX(0);
}

.Cart__close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #999;
  border: none;
  background: transparent;
  transition: transform 100ms ease;
  cursor: pointer;
}

.Cart__header {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  flex: 0 0 auto;
  display: inline-block;
}

.Cart__line-items {
  flex: 1 0 auto;
  margin: 0;
  padding: 20px;
}

.Cart__footer {
  padding: 20px;
  border-top: 1px solid #e5e5e5;
  flex: 0 0 auto;
}

.Cart__checkout {
  margin-top: 20px;
  display: block;
  width: 100%;
}

.Cart-info {
  padding: 15px 20px 10px;
}

.Cart-info__total {
  float: left;
  text-transform: uppercase;
}

.Cart-info__small {
  font-size: 11px;
}

.Cart-info__pricing {
  float: right;
}

.pricing {
  margin-left: 5px;
  font-size: 16px;
  color: black;
}

/* LINE ITEMS
 * ============================== */
.Line-item {
  margin-bottom: 20px;
  overflow: hidden;
  backface-visibility: visible;
  min-height: 65px;
  position: relative;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.Line-item__img {
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #e5e5e5;
  position: absolute;
}

.Line-item__content {
  width: 100%;
  padding-left: 75px;
}

.Line-item__content-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  position: relative;
}

.Line-item__variant-title {
  float: right;
  font-weight: bold;
  font-size: 11px;
  line-height: 17px;
  color: #767676;
}

.Line-item__title {
  color: #4e5665;
  font-size: 15px;
  font-weight: 400;
}

.Line-item__price {
  line-height: 23px;
  float: right;
  font-weight: bold;
  font-size: 15px;
  margin-right: 40px;
}

.Line-item__quantity-container {
  border: 1px solid #767676;
  float: left;
  border-radius: 3px;
}

.Line-item__quantity-update {
  color: #767676;
  display: block;
  float: left;
  height: 21px;
  line-height: 16px;
  font-family: monospace;
  width: 25px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

.Line-item__quantity-update-form {
  display: inline;
}

.Line-item__quantity {
  color: black;
  width: 38px;
  height: 21px;
  line-height: 23px;
  font-size: 15px;
  border: none;
  text-align: center;
  -moz-appearance: textfield;
  background: transparent;
  border-left: 1px solid #767676;
  border-right: 1px solid #767676;
  display: block;
  float: left;
  padding: 0;
  border-radius: 0;
}

.Line-item__remove {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  background: 0;
  font-size: 20px;
  top: -4px;
  opacity: 0.5;
}

.Line-item__remove:hover {
  opacity: 1;
  cursor: pointer;
}
